body {
    font-family: 'Voltaire', sans-serif;
}
#headerDiv {
    width: 100%;
    height: 130px;
    /* border: 1px solid black; */
    padding-top: 0px;
}
.header1 {
    height: 50px;
    background-color: rgb(251,228,70);
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
}
.header1 > p {
    margin-top: 0px;
    padding-top: 15px;
    font-size: 14px;
    margin-left: 350px;
}
.saleSpan {
    font-weight: bold;
}
.previewButton {
    border: none;
    background-color: rgb(251,228,70);
    font-size: 14px;
    text-decoration: underline;
}
.india {
    float: right;
    display: flex;
    margin-right: 30px;
}
.india > img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 8px;
    /* padding-right: 10px; */
}
.india > p {
    font-size: 14px;
    padding-top: 3px;
}
.header2 {
    height: 80px;
    /* border: 1px solid green; */
    display: flex;
}
.logoDiv {
    height: 80px;
    width: 200px;
    /* background-color: gray; */
}
.logo {
    width: 250px;
    height: 80px;
    background-color: none;
    border: none;
    font-size: 28px;
    font-weight: bold;
    margin-left: 30px;
    padding-right: 0px;
    margin-top: 22px;
}
#homeRedirect:hover {
    cursor: pointer;
}
.navList {
    width: 50%;
    height: 80px;
    /* background-color: peachpuff; */
    margin-left: 90px;
}
.listStyle {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 30px;
    padding-left: 0px;
    font-size: 14px;
}
.listStyle > li:first-child {
    background-color: rgb(251,228,70);
}
.listStyle > li:nth-child(10) {
    color: red;
}
.navRight {
    width: 25%;
    height: 80px;
    /* background-color: peachpuff; */
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
}
.search {
    display: flex;
}
.search > img {
    width: 30px;
    height: 30px;
    margin-top: 25px;
    color: gray;
}
.search > p {
    margin-top: 30px;
    font-size: 14px;
    margin-left: 10px;
}
#signIn {
    height: 20px;
    width: 80px;
    border: none;
    margin-top: 30px;
    font-size: 14px;
}
.navRight > .navShopIcon img{
    width: 30px;
    height: 35px;
    margin-top: 18px;
}
/* dynamic nav cart css - neeraj */
.navShopIcon{
    display: flex;
    position: relative;
    justify-content: center;
}
.navShopIcon > p{
    position: absolute;
    top: 20px;
    font-size: small;
}
.navShopIcon:hover{
    cursor: pointer;
}
/* end */
.headerDiv3 {
    height: 80px;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(245, 245, 245);
    text-align: center;
}
.headerDiv3 > p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 25px;
    line-height: 0cm;
}
.headerDiv3 > p:last-child {
    font-size: 14px;
    font-stretch: extra-expanded;
    text-decoration: underline;
}

.dropMainContainer {
    width: 100%;
    display: none;
    position: absolute;
}
.dropContainer {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255,255,255);
    /* border: 1px solid black; */
}
.leftMostDiv {
    height: 500px;
    width: 20%;
    margin-left: 30px;
    /* border: 1px solid black; */
}
.leftMostDiv > p {
    font-weight: bold;
}
.middleDiv {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}
.middleDiv > div {
    width: 22%;;
    height: 500px;
    /* border: 1px solid green; */
}
.middleDiv div p {
    font-size: 14px;
    line-height: 0.5cm;
}
.rightMostDiv {
    width: 20%;
    height: 500px;
    /* border: 1px solid blue; */
}
.rightMostDiv > img:first-child {
    float: right;
    margin-top: 30px;
    background-color: rgb(255,255,255);
}
.rightMostDiv > img:nth-child(2) {
    margin-top: 100px;
}
.dropMainContainer2, .dropMainContainer3, .dropMainContainer4, .dropMainContainer5, .dropMainContainer6, .dropMainContainer7, .dropMainContainer8,
.dropMainContainer9, .dropMainContainer10, .dropMainContainer11 {
    width: 100%;
    display: none;
    position: absolute;
}
.dropContainer2, .dropContainer3, .dropContainer4, .dropContainer5, .dropContainer6, .dropContainer7, .dropContainer8,
.dropContainer9, .dropContainer10, .dropContainer11 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255,255,255);
    /* border: 1px solid black; */
}
#women:hover, #annSale:hover, #men:hover, #kids:hover, #home:hover, #gifts:hover, #beauty:hover, 
#designer:hover, #sale:hover, #brands:hover, #activeWear:hover {
    text-decoration: underline;
}
#line1{
            display: flex;
            justify-content: center;
            font-size: xx-large;
            font-weight: bolder;
        }
        #box1{
            display: flex;
            justify-content: center;
        }
        #line2{
            font-size: larger;
            font-weight: bolder;
        }
        #grid1{
            background-color: yellow;
            height: 20px;
            width: 180px;
        }
        #box2{
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
        .a{
            color: gray;
        }
        .b{
            font-weight: lighter;
        }
        #email{
            font-weight: bold;
            color: gray;
        }
        #input1{
            width: 300px;
            height: 30px;
        }
        #line3{
            margin-top: 25px;
        }
        /* #box3{
        } */
        #btn1{
            width: 300px;
            height: 40px;
            background-color: black;
            color: white;
            margin-top: 25px;
            border: none;
        }
        #line4{
            margin-top: 35px;
        }
        #btn2{
            width: 300px;
            height: 40px;
            background-color:white;
            color: gray;
            margin-top: 35px;
        }
        #line5{
            margin-top: 35px;
        }
        #box4{
            margin-left: 150px;
        }
        .footerDiv {
  height: 300px;
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 50px;
  background-color: rgb(246, 246, 246);
}
.footerTextDiv {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}
.footerTextDiv > div {
  height: 250px;
  width: 15.5%;
  /* border: 1px solid blue; */
}
.footerTextDiv p {
  font-size: 13px;
}
.termsOfService {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 3.5%;
  /* border: 1px solid black; */
}
.termsOfService > p {
  font-size: 13px;
}
